$dark-bg: rgb(26, 24, 24);

$sec-bg: #3f3f3f;

$roku-purple: #6C3C97;

$btn-colour: #D05A10;

$copy-colour: #f2f2f2;


@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  